/* ------------ Visualizer ------------- */

.visual-package {
    padding: 3px;
    border-radius: 2px;
    margin-top: 3px;
}

.visual-header {
    cursor: pointer;
}

.visual-name {
    color: rgb(255, 0, 0);
}

.visual-array {
    background-color: #FFD8BB;
    border: thin solid #FFB780;
}

.visual-object {
    background-color: #E7F1FE;
    border: thin solid #4082d4;
}

.visual-string {
    color: rgb(0, 0, 0);
}

.visual-number {
    color: blue;
}

.visual-function {
    color: green;
}

.visual-open .visual-children {
    display: block;
}

.visual-closed .visual-children {
    display: none;
}


.visual-type {
    color: gray;
    font-size: 8pt;
    float: right;
}

.hide {
    display: none !important;
}